<!DOCTYPE html>
<html lang="{{ .Site.Language.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title>
    <meta name="description" content="{{ block "desc" . }}{{ end }}">
    <meta name="author" content="Ad (skissue)">

    {{
       with slice
         (resources.Get "style/catppuccin.css")
         (resources.Get "style/main.css")
       | resources.Concat "/style/bundle.css"
       | minify
    }}
    <link rel="stylesheet" href="{{ .RelPermalink }}" type="text/css" media="screen" />
    {{ end }}

    {{ block "head" . }}{{ end }}
  </head>
  <body>
    <main>
      {{ block "main" . }}{{ end }}
    </main>
  </body>
</html>
